.menu {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1.6rem;
}

.menuLink {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary);
  color: var(--text-over-primary);
  text-decoration: none;

  padding: 1.2rem;
  border-radius: 0.8rem;
}

.menuLink:hover {
  filter: brightness(50%);
  transition: all 0.1s ease-in-out;
}

.menuLink svg {
  width: 2.4rem;
  height: 2.4rem;
}
